.tile {
    display: flex;
    border-radius: 1.5rem;
    padding: 1.7rem;

}

.coinInfo {
    margin-left: 2rem;
    width:30%
}

.logo {
    margin-top: .5rem;
    margin-left: 2rem;
}

.coinHistory {
    display: flex;
    width: 25%
}

.historyLeft {
    margin-right: 3rem;
}

.convertor {
    margin-right: 5rem;
}